.performance-metrics-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  color: var(--text-color);
  gap: 12px;

  h4 {
    font-size: 28px;
  }

  .performance-metrics {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--background-color);
      border-radius: 20px;
      min-width: 220px;
      border: 1px solid var(--border-color);
      padding: 28px 20px 16px;
      
      .divider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      h3 {
        font-size: 18px;
        margin-bottom: 6px;
      }

      .value {
        font-size: 40px;
        margin-bottom: 5px;
      }

      .sub {
        font-size: 18px;
        color: #8A8C98;
        margin-bottom: 10px;
      }

      .link {
        font-size: 13px;
        color: #3B82F6;
        text-decoration: none;
        cursor: pointer;
      }

      &.winnability {
        min-height: 190px;
        flex: 1;

        .header {
          display: flex;
          flex-direction: row;
          gap: 14px;

          .dots {
            display: flex;
            flex-direction: row;
            padding-top: 6px;
            gap: 3px;

            span {
              width: 8px;
              height: 8px;
              background: #1E40AF;
              border-radius: 50%;
            }
          }
        }
      }

      &.loss-ratio {
        flex: 1;
      }

      &.premium-growth {
        flex: 1;
      }

      &.exposure {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 28%;
        padding: 28px 4px 10px 18px;
          
        .chart {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .bar-group {
            display: flex;
            flex-direction: row;
            gap: 16px;
            width: 100%;
            
            label {
              display: flex;
              flex-direction: row;
              font-size: 14px;

              span {
                padding-left: 4px;
                font-weight: bold;
              }
            }

            .bar {
              background: var(--border-color);
              height: 18px;
              border-radius: 0px 20px 20px 0px;
              width: 50%;
              
              div {
                background: linear-gradient(90deg, #313853, #3B82F6);
                border-radius: 0px 20px 20px 0px;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
