.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  padding: 6px 100px;

  .nav-scroll-wrapper {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .nav-items {
      display: flex;
      gap: 6px;
      width: max-content;
      
      .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
        color: var(--text-color);
        background: var(--dark-background-color);
        padding: 8px 12px;
        border-radius: 24px;
        border: 1px solid var(--border-color);

        .icon {
          width: 20px;
          height: 20px;
          flex-shrink: 0;
        }

        &.active {
          background: var(--blue-color);
          color: white;

          .icon {
            filter: brightness(0) invert(1); // якщо хочеш, щоб іконка стала білою
          }
        }
      }
    }
  }

  .nav-controls {
    display: flex;
    gap: 8px;

    .circle {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 1px solid var(--border-color);
      background: var(--dark-background-color);
      cursor: pointer;

      img {
        margin-top: 3px;
        width: 26px;
        height: 26px;
        flex-shrink: 0;
      }
    }
  }
}
