.compliance-docs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 0px 30px;
  color: var(--text-color);
  gap: 12px;

  h4 {
    font-size: 28px;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 12px;

    h4 {
      font-size: 28px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .link {
      font-size: 13px;
      color: #60a5fa;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .doc-list {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    gap: 24px;
    padding: 30px 20px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
  }

  .doc {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    img {
      width: 18px;
      height: 18px;
      object-fit: contain;
      flex-shrink: 0;
      border: 2px solid var(--green-color);
      border-radius: 50%;
    }
  }
}
