.communication-panel {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 30px;
  color: var(--text-color);
  gap: 20px;

  h4 {
    font-size: 28px;
  }

  .communication-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 18px 14px 40px;
    gap: 8px;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .actions {
        display: flex;
        align-items: center;
        gap: 8px;

        .search {
          padding: 2px 12px;
          border-radius: 20px;
          border: 1px solid var(--border-color);
          width: 200px;

          &::placeholder {
            color: #596275da;
            font-size: 14px;
          }
        }

        .btn {
          border: 1px solid var(--blue-color);
          color: var(--blue-color);
          border-radius: 20px;
          padding: 4px 24px;
          font-size: 12px;
          cursor: pointer;
          text-wrap: nowrap;

          &.btn-primary {
            background: var(--blue-color);
            color: white;
          }
        }
      }
    }

    .messages-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0px 14px;
      gap: 10px;

      .message-card {
        display: flex;
        flex-direction: column;
        background: var(--light-background-color);
        border-radius: 24px;
        padding: 16px;
        border: 1px solid transparent;
        transition: border-color 0.5s;
        gap: 8px;

        &.responded {
          border-color: var(--blue-color);
        }

        .tag-title {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          gap: 6px;

          .card-tag {
            display: inline-block;
            background: #1e40af;
            padding: 4px 10px;
            border-radius: 999px;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 8px;
          }

          h3 {
            font-size: 18px;
            color: white;
            margin: 0 0 4px 0;
          }
        }

        .meta {
          font-size: 14px;
          color: var(--darktext-color);
        }

        .body {
          font-size: 14px;
        }

        .footer {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .attachments {
            width: fit-content;
            background: color-mix(in srgb, var(--green-color), transparent);
            padding: 4px 18px;
            border-radius: 24px;
            font-size: 12px;

            img {
              width: 14px;
              height: 14px;
            }
          }

          .reply-btn {
            width: fit-content;
            background: var(--blue-color);
            border: none;
            padding: 8px 28px;
            color: white;
            border-radius: 24px;
            font-size: 14px;
            transition: background 0.2s;

            &:hover {
              background: #1e40af;
            }
          }
        }
      }
    }
  }
}
