.my-accounts {
  background: var(--background-color);
  border-radius: 20px;
  padding: 12px 20px 40px 26px;
  color: var(--text-color);
  border: 1px solid var(--border-color);

  .header-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    overflow: hidden;
    gap: 24px;

    h2 {
      font-size: 20px;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 10px;

      .search {
        padding: 2px 12px;
        border-radius: 20px;
        background: #232838;
        border: none;
        width: 200px;

        &::placeholder {
          color: #59627584;
          font-size: 14px;
        }
      }

      .btn {
        border: 1px solid var(--blue-color);
        color: var(--blue-color);
        border-radius: 20px;
        padding: 4px 24px;
        font-size: 12px;
        cursor: pointer;
        text-wrap: nowrap;

        &.btn-primary {
          background: var(--blue-color);
          color: white;
        }
      }
    }
  }

  .table-scroll {
    overflow-y: auto;
    // max-height: calc(6 * 68px);

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 13px;

      th {
        padding: 8px 2px 8px 16px;
        text-align: left;
        font-size: 9px;
        color: var(--shadowtext-color);
        background: var(--light-background-color);
        font-weight: 500;
      }

      td {
        padding: 12px 2px 12px 16px;
        vertical-align: top;
        border-bottom: 1px solid var(--shadow-border-color);
      }

      .sub-text {
        font-size: 12px;
        color: var(--shadowtext-color);
      }

      .right {
        text-align: right;
      }

      .center {
        text-align: center;
      }

      .premium {
        color: var(--blue-color);
      }

      .loss {
        display: inline-block;
        padding: 5px 11px;
        border-radius: 20px;
        font-size: 11px;
        font-weight: 500;
        white-space: nowrap;

        &.green {
          background: var(--green-color);
          color: #fff;
        }
        &.yellow {
          background: var(--yellow-color);
          color: #000;
        }
        &.red {
          background: var(--red-color);
          color: #fff;
        }
      }

      .appetite {
        padding: 4px 20px;
        border-radius: 20px;
        background: #1e40af49;
        font-size: 10px;
      }

      .status-content {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 12px;

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          flex-shrink: 0;
        }

        &.active .dot {
          background: var(--green-color);
        }

        &.under .dot {
          background: #1e40af;
        }
      }

      .triage {
        width: fit-content;
        padding: 4px 8px;
        font-size: 10px;
        color: var(--blue-color);
        border: 1px solid var(--blue-color);
        border-radius: 20px;
      }

      .winnability {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: fit-content;
        padding: 4px 10px;
        color: var(--blue-color);
        border: 1px solid var(--blue-color);
        border-radius: 20px;
        gap: 8px;

        .dots {
          display: flex;
          gap: 4px;

          .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #374151;

            &.filled {
              background: #3b82f6;
            }
          }
        }

        .sub-text {
          font-size: 10px;
          color: var(--blue-color);
        }
      }

      .icon {
        font-style: normal;
        color: var(--text-color);
        font-size: 14px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
      }

      tr:nth-child(even) {
        background: var(--light-background-color, #1e293b);
      }
    }
  }
}
