.market-intelligence {
  background: var(--background-color, #1a1f2e);
  border-radius: 20px;
  width: 100%;
  max-width: 285px;
  // min-height: 272px;
  padding: 20px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-color);

  h2 {
    font-size: 20px;
    color: var(--text-color);
  }

  ul {
    list-style: none;

    li {
      display: flex;
      gap: 9px;
      padding: 8px 10px 8px 0px;
      border-bottom: 1px solid var(--shadow-border-color);
      overflow: hidden;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        flex-shrink: 0;

        &.red {
          background-color: #B93B3B;
        }

        &.yellow {
          background-color: #FDD261;
        }

        &.blue {
          background-color: #1E40AF;
        }
      }

      .text {
        font-size: 12px;
        color: #e5e7eb;
      }
    }
  }
}
